@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    @include flex-center();
    flex-direction: column;
    height: 74px;
    width: 100%;
    bottom: 0;
    left: 0;
    font-family: Quicksand-SemiBold;
}

.footer {
    height: 40px;
    width: 100%;
    @include flex-center();
    gap: 1rem;
    color: #616161;
    background-color: #E0E1E1;

    .divider {
        width: 0px;
        height: 1.5rem;
        border: 1px solid #a9a9a9;
    }

    p {
        font-size: 12px;
    }
}

.footer-options {
    width: 100%;
    height: 34px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    color: #1F7A54;
    background-color: #EEEEEE;
    font-family: Quicksand-SemiBold;

    .separation {
        width: 0px;
        height: 1rem;
        border: 1px solid #0000001F;
    }
}