* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#grid-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: cell;
    background-color: #fff;
}

.canvas-container {
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 25px - 30px);
    top: 25px;
    left: 50px;
    overflow: auto;
}

.grid-tile {
    position: absolute;
    cursor: cell;
    pointer-events: none;
}

#status-bar {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 0.5rem;
    bottom: 0;
    z-index: 2;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(193, 193, 193);
}

#status-bar-text {
    width: 55%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

#status-bar-numerical-stats {
    width: 45%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
}

#top-left-intersection {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
}

#horizontal-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    will-change: transform;
}

#vertical-header {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    will-change: transform;
}

#resizer {
    position: absolute;
    background-color: #888;
    cursor: ew-resize; /* Default is column resizing */
    width: 5px;
    height: 5px;
    z-index: 10;
}

.column-header {
    position: relative;
    height: 40px;
    border-right: 1px solid #ccc;
}

.row-header {
    position: relative;
    width: 60px;
    border-bottom: 1px solid #ccc;
}
